@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
}

:root {
    --color-background: white;
    
    --color-text-one: #111111;
    --color-text-two: #000000;
    --color-text-about: #444444;
    --color-text-author: #777777;
    
    --color-background-billboard: #FBDFDB;
    
    /*FOOTER*/
    --color-background-footer: #EEEEEE;
    --color-text-footer: #999999;
}

body {
    font-family: 'Roboto', sans-serif;
}

/*=== HEADER ===*/

header {
    height: 63px;
    max-width: 940px;
    background-color: var(--color-background);
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
}

header .logo_image_container {
    padding-right: 92.4px;
}

header nav {
    margin-bottom: 6px;
}

header nav a {
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: var(--color-text-one);
    margin-left: 30px;
}

/*=== MAIN ===*/
.main_index {
    max-width: 940px;
    margin: 30px auto 50px;
}

.main_about {
    max-width: 940px;
    margin: 50px auto;
}

.main_recipes {
    max-width: 940px;
    margin: 50px auto;
}

.main_recipe_page {
    max-width: 940px;
    margin: 50px auto 30px;
}

/*=== FOOTER ===*/

footer {
    display: flex;
    height: 63px;
    width: 100%;
    background-color: var(--color-background-footer);
    align-items: center;
    justify-content: center;
}

footer p {
    font-size: 14px;
    line-height: 16px;
    color: var(--color-text-footer);
}

/*=== INDEX BILLBOARD  ===*/

.main_index .billboard {
    max-height: 366px;
    background-color: var(--color-background-billboard);
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_index .billboard_text_container {
    margin-left: 60px;
}

.main_index .billboard_slogan {
    font-size: 32px;
    line-height: 38px;
    color: var(--color-text-one);
}

.main_index .billboard_description {
    max-width: 316px;
    font-size: 18px;
    line-height: 28px;
    color: var(--color-text-two);
    margin-top: 10px;
}

.main_index .billboard_image_container {
    padding-top: 6vh;
    margin-right: 100px;
    display: flex;
    align-items: flex-end;
}

.main_index .billboard .billboard_image_container img {
    width: 100%;
}

/*=== HIGHLIGHTS ===*/

.main_index .highlights_recipes {
    width: 100%;
    margin-top: 50px;
}

.main_index .highlights_title {
    font-size: 24px;
    line-height: 28px;
    color: var(--color-text-one);
}

/*=== CARDS ===*/

.recipes_cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px 20px;
    margin-top: 20px;
}

.recipe_card {
    width: 300px;
    height: 202px;
}

.recipe_card_image-container {
    width: 300px;
    height: 140px;
}

.recipe_card_image-container img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.recipe_card .recipe_card_title {
    font-size: 18px;
    line-height: 21px;
    color: var(--color-text-one);
    margin-top: 20px;
}

.recipe_card .recipe_card_author {
    font-size: 14px;
    line-height: 16px;
    color: var(--color-text-author);
    margin-top: 5px;
}

/*=== SOBRE ===*/

.main_about h2 {
    font-size: 24px;
    line-height: 28px;
    color: var(--color-text-one);
    margin-bottom: 20px;
}

.main_about h3 {
    font-size: 20px;
    line-height: 24px;
    color: var(--color-text-one);
    margin-bottom: 20px;
}

.main_about p {
    font-size: 18px;
    line-height: 28px;
    color: var(--color-text-about);
}

.about_foodfy p,
.howstarts p {
    margin-bottom: 30px;
}

/*=== RECIPE PAGE ===*/

.main_recipe_page .billboard_image_container {
    width: 100%;
    max-height: 280px;
    margin-bottom: 50px;
}

.main_recipe_page .billboard_image_container img {
    border-radius: 15px;
}

.main_recipe_page .info {
    text-align: center;
    margin-bottom: 30px;
}

.main_recipe_page .info h1 {
    color: var(--color-text-one);
    font-size: 36px;
    line-height: 42px;
}

.main_recipe_page .info p {
    color: var(--color-text-author);
    font-size: 20px;
    line-height: 24px;
}

.main_recipe_page .section {
    padding: 20px 0;
}

.main_recipe_page .section_head {
    margin-bottom: 20px;
    display: flex;
    align-items: flex-end;
}

.main_recipe_page .section_head a {
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
    color: var(--color-text-footer);
    margin: 0 0 3px 8px;
    cursor: pointer;
}

.main_recipe_page .section.hide .section_content {
    display: none;
}

.main_recipe_page h2 {
    font-size: 24px;
    line-height: 28px;
    color: var(--color-text-one);
}

.main_recipe_page ul,
.main_recipe_page p {
    font-size: 18px;
    line-height: 28px;
    color: var(--color-text-about);
}

.main_recipe_page li {
    list-style-position: inside;
}
