* {
    margin: 0;
    padding: 0;
    border: 0;
}

body header {
    font-family: 'Roboto', sans-serif;  
    background: rgba(113, 89, 193, 0.938);
    text-align: right;
}

body header div {
    padding: 30px 50px 30px 0;
}

body header div a {
    color: rgb(175, 158, 230);
    text-decoration: none;
    margin: 0 15px;
}

body header div a:hover {
    color: rgb(255, 255, 255);
    padding-bottom: 4px;
    border-bottom: solid white  ;
    transition: color 500ms;
}