<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    
    {% block head %}
        <title>Desafio 4-1</title>
    {% endblock %}

</head>
<body>

    <header>
        
        {% block nav %}
            <nav>
                <a href="/">Teachers</a>
                <a href="/students">Students</a>
            </nav>
        {% endblock %}

    </header>

    {% block content %}{% endblock %}

</body>
</html>